@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --ocean-blue: #4b5bec;
    --cosmic-latte: #FFF9EA;
    --mint: #00BD9D;
    --iris: #6153cc;
    --calm-grey: #3f3f3f;
    --bone-grey: #dbdbdb;
    --sympsy-black: #272727;
    --dark-grey: #181818;
    --dark-navy: #20216d;
    --sea-navy: #1b295a;
}

body {
    font-family: montserrat;
    color: var(--cosmic-latte);
    background-color: var(--ocean-blue);
    margin: 0px;
    /* padding-right: 20px; */
    /* padding-left: 20px; */
}

body::-webkit-scrollbar {
    display: none;
}

button {
    width: 150px;
    height: 35px;

    color: var(--bone-grey);
    background-color: var(--dark-navy);
    border: 2px solid var(--sea-navy);
    border-radius: 12px;

    font-family: montserrat;
    font-size: 0.85em;
    font-weight: 650;

    transition: 1s;
    cursor: pointer;
}

button:hover {
    font-size: 0.87em;
    transition: 1s;
}

a {
    color: var(--cosmic-latte);
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #ffc954;
    transition: 0.5s;
}

#sticky {
    position: sticky;
    top: 0px;
}

.header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 9999999;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 40px;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--ocean-blue);
    box-shadow: -0.75px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -0.75px 4px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -0.75px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

#sympsyBadge {
    font-size: 1.25em;
    font-weight: 800;
    margin-right: 20px;
    transition: 0.5s;
}

#sympsyBadge:hover {
    color: #f7ca70;
    transition: 0.5s;
    font-size: 1.35em;
}

.navGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navButton {
    width: 150px;
    height: 35px;
    display: flex;
    border-radius: 12px;
    color: var(--bone-grey);
    border: 2px solid var(--sea-navy);
    font-size: 0.85em;
    font-weight: 650;
    margin: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    transition: 1s;
    background-color: var(--dark-navy);
}

.navButton:hover {
    font-size: 0.87em;
    transition: 1s;
}

#activeNavButton {
    color: var(--bone-grey);
    background-color: var(--sympsy-black);
    border: 2px solid var(--dark-grey);
}

/*  */

.content-block {
    padding-left: 20px;
}

.content-block button {
    min-width: fit-content;
    width: 140px;
    /* 625px */
    height: 35px;
}

.inner-content-block {
    margin-top: 25px;
    margin-bottom: 50px;
}

#siteTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

#siteTitle h1 {
    font-size: 2em;
    font-weight: 800;
    opacity: .95;
}

.contentHeading {
    margin-bottom: -17px;
}

.contentHeading h1 {
    font-size: 2em;
    font-weight: 800;
}

.contentSubHeading h1 {
    font-size: 1em;
    font-weight: 550;
    opacity: .75;
}

.imageContainer {
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
}

.imageContainer img {
    border-radius: 10px;
    margin-right: 5px;
    box-shadow: -0.1px 4px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -0.1px 4px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -0.1px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.imageContainer video {
    border-radius: 10px;
    margin-right: 5px;
    box-shadow: -0.1px 4px 5px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -0.1px 4px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -0.1px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

/*  */

#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
}

.abtButton {
    color: #666666;
    background-color: var(--bone-grey);
    min-width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    display: flex;
    border-radius: 12px;
    border: 2px solid var(--cornflower-blue);
    font-size: 15px;
    font-weight: 650;
    margin: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    transition: 1s;
}

.abtButton:hover {
    color: #0c2d20;
    background-color: #00BD9D;
    min-width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    display: flex;
    border-radius: 12px;
    border: 2px solid var(--cornflower-blue);
    font-size: 15px;
    font-weight: 650;
    margin: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    cursor: default;
    transition: 1s;
}

/*  */

.backToTop {
    position: fixed;
    bottom: 50px;
    right: 50px;

    background-color: var(--ocean-blue);
    color: var(--cosmic-latte);
    opacity: 0.9;

    border: 2px solid var(--cornflower-blue);
    border-radius: 10px;
    padding: 10px;

    font-family: montserrat;
    font-weight: 700;
    font-size: 0.8em;
    cursor: pointer;
    transition: 1s;
}

.backToTop:hover {
    font-size: 0.85em;
    transition: 1s;
}