@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --rich-black: #03031c;
    --cosmic-latte: #FFF9EA;
    --cornflower-blue: #5C95FF;
    --mint: #00BD9D;
    --iris: #6153cc;
    --primary-color: #212121;
    --secondary-color: #2e2e2e;
}

body {
    font-family: montserrat;
    color: var(--cosmic-latte);
    background-color: var(--rich-black);
    padding-right: 20px;
    padding-left: 20px;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: var(--cosmic-latte);
    text-decoration: none;
}

a:hover {
    color: var(--carnation-pink);
    
}

#sticky {
    position: sticky;
    top: 0px;
}

.header {
    display: flex;
    flex-direction: row;    
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--rich-black);

    box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.21);
-webkit-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.21);
-moz-box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.21);
}

#sympsyBadge {
    font-size: 1.25em; 
    font-weight: 800;
    margin-right: 20px;
    transition: 0.5s;
}

#sympsyBadge:hover {
    color: #f7ca70;
    transition: 0.5s;
    font-size: 1.35em;
}

.navGrid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navButton {
    width: 150px;
    height: 35px;
    display: flex;
    border-radius: 12px;
    border: 2px solid var(--cornflower-blue);
    font-size: 0.85em;
    font-weight: 650;
    margin: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    transition: 1s;
}

.navButton:hover {
    font-size: 0.87em;
    transition: 1s;
}

#activeNavButton {
    background-color: var(--cornflower-blue);
}

.contentHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.contentSubHeading {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    justify-content: center
}

.abtButton {
    color: var(--cosmic-latte);
    background-color: var(--cornflower-blue);
    width: 160px;
    height: 35px;
    display: flex;
    border-radius: 12px;
    border: 2px solid var(--cornflower-blue);
    font-size: 15px;
    font-weight: 650;
    margin: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
}

.backToTop {
    position: fixed;
    bottom: 50px;
    right: 50px;

    background-color: var(--rich-black);
    color: var(--cosmic-latte);
    opacity: 0.9;
    
    border: 2px solid var(--cornflower-blue);
    border-radius: 10px;
    padding: 10px;
    
    font-family: montserrat;
    font-weight: 700;
    font-size: 0.8em;
    cursor: pointer;
    transition: 1s;
}

.backToTop:hover {
    font-size: 0.85em;
    transition: 1s;
}